/* Code boxes */

.drawCanvas {
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: .5em;
   margin-bottom: .5em;
   margin-right: .5em;
   margin-top: .5em;
}

p code, li code {
   color: #333;
   background-color: #fafafa;
   border: 1px solid #dcdcdc;
   border-radius: 4px;
   padding: 1px;
   padding-left: 3px;
   padding-right: 3px;
}
