.mnist-draw {
    border: 1px solid black;
}

.mnist-draw:hover {
    cursor: crosshair;
}

#downsampled {
    display: inline-block;
}

#downsampled table {
    border: 1px solid gray;
    -webkit-user-select: none;
    user-select: none;
}

#downsampled td {
    width: 7px;
    height: 7px;
    border: 1px solid #ccc;
    line-height: 4px;
}

#downsampled .on {
    background-color: gray;
}

#downsampled .off {
    background-color: white;
}
